body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

@font-face {
    font-family:'Source Sans Pro' ;
    src: url("source-sans-pro (2)/SourceSansPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family:'Spin Cycle' ;
    src: url("Spin-Cycle-OT (1)/spincycle_ot.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

}

.home-section{
    background-image: url("week_7_pictures/images/headphones_hero_1.jpg") ;
    color: white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 10px 5vw 20px 5vw;
   
    
    
    
    

}


nav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    
}
.logo{
    height: 30px;
    display: block;
}

 

.nav-links{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.nav-links a:hover,
a:active
{
    color: #FF6565;
}


.hero{
    text-align: center;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.hero h1{
    margin-top: 85px;
    margin-bottom: 0; 
}
.hero h2{
    margin-top: 0;
    margin-bottom: 30px; 
    font-size: 15px; 
}
.hero button{
    background-color:#FF6565 ;
    border-radius: 20px;
    color:white;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin-bottom: 60px;
}
.hero button:hover,
.hero button:active
{
    opacity: 0.9;  
}
.hero p{
    
    margin: 0 auto 35px auto;
    font-size: 15px;
    max-width: 700px;
}


@media screen and (max-width: 480px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
    .hero {
    text-align: left;
    padding: 50px 20px;
    }

    .hero h1 {
    font-size: 24px;
    }
} 


.what-we-do{
    background-color: white ;
    color: black;
    /* padding: 30px 5vw 30px 5vw; */
    padding: auto 5vw auto 5vw;
    display: flex ;
    text-align: center;


}
.what-we-do h2{
    font-family: 'Spin Cycle', spin-cycle;
    /* text-align: center;
    align-items:center; */

}
.service i{
    color: #FF6565;
}